<div id="header">
    <div id="logo">
        <a href="/"><image src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li class="{{#activePage 'main'}}selected{{/activePage}}">
                <a href="/">Home</a>
            </li>
            <li class="{{#activePage 'travel'}}selected{{/activePage}}">
                <a href="/travel">Travel</a>
            </li>
            <li class="{{#activePage 'rooms'}}selected{{/activePage}}">
                <a href="/rooms">Rooms</a>
            </li>
            <li class="{{#activePage 'meals'}}selected{{/activePage}}">
                <a href="/meals">Meals</a>
            </li>
            <li class="{{#activePage 'news'}}selected{{/activePage}}">
                <a href="/news">News</a>
            </li>
            <li class="{{#activePage 'about'}}selected{{/activePage}}">
                <a href="/about">About</a>
            </li>
            <li class="{{#activePage 'contact'}}selected{{/activePage}}">
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>